{%extends 'base.html' %}

{% block content %}
<style>
    body {
        background: #f5f5f5;
    }

    .rounded-lg {
        border-radius: 1rem;
    }

    .nav-pills .nav-link {
        color: #555;
    }

    .nav-pills .nav-link.active {
        color: #fff;
    }
</style>

<script>
    $(document).ready(function () {
        $(".nav-pills a").click(function () {
            $(this).tab("show");
        });
    });
</script>
</head>

<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <h2 style="text-align: center;">Forgot Password?</h2>
                    <h4 style="text-align: center;"> Enter your email below to reset password.</h4>
                    <div class="tab-content">
                        <div id="nav-tab-paypal" class="tab-pane fade show active">
                            <form action="{% url 'forgot_password' %}" role="form" method="post" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="form-group">
                                    <div class="field-holder">
                                        <label for="identifier">Username</label>
                                        <input type="text" name="identifier" placeholder="Enter your Username (Email or Phone Number)" class="form-control" required>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" value="Forgot Password">
                                    Submit
                                </button>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {% include 'includes/alerts.html' %}
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl);
                });
            });
            </script>
    {% endblock content %}