{% extends 'base.html' %} {% load custom_filters %}
{% load static %}
{% block title %} Confirmation  {% endblock %} 
 {% block content %}

<div class="main-section pt-5">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="tabs-holder horizontal">
            <ul class="stickynav-tabs nav nav-tabs">
              <li class="active">
                <a data-bs-toggle="tab" href="#home"
                  >
                  <i class="fa fa-shopping-cart text-danger"></i>Review Your
                  Billing Address</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane in active">
                <div class="menu-itam-holder">
                  {% if restaurant_ids|length == 1 and order.pre_order_time == 0%} {% if away_restaurant_order %}
                  <p
                    style="
                      font-style: italic !important;
                      color: #f28500 !important;
                    "
                  >
                    Your order is  <strong>{{ away_restaurant_order }}</strong>
                    <sup>{{ away_restaurant_order|ordinal }}</sup> in a queue.
                  </p>
                  {% endif %} {% endif %}

                  <div id="menu-item-list-6272" class="menu-itam-list">
                    <div class="billing-address">
                     
                      <div><b>{{ order.name }}</b></div>
                      <div><b>Phone: </b>{{ order.phone }}</div>
                      {% if order.email %}
                      <div><b>Email: </b>{{ order.email }}</div>
                      {% endif %} {% if order.num_of_people %}
                      <div>
                        <b>Number of People: </b>{{ order.num_of_people }}
                      </div>
                      {% endif %}

                      <div><b>Payment: </b>{{ order.payment_method }}</div>
                      <br />
                      <div>
                        <a
                          href="{% url 'checkout' %}"
                          class="btn btn-outline-danger"
                          >Edit</a
                        >
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="tabs-holder horizontal">
            <ul class="stickynav-tabs nav nav-tabs">
              <li class="active">
                <a data-bs-toggle="tab" href="#home"
                  ><i class="icon- icon-room_service"></i>Your Order</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane in active">
                <div class="menu-itam-holder">
                  <div>
                    <table class="table">
                      <tbody>
                        {% for cart_item in cart_items_with_totals %}
                        <tr>
                          <td>
                            
                            {% if cart_item.item.fooditem.image %}
                            <img
                              data-src="{{cart_item.item.fooditem.image.url}}"
                              width="40"
                              alt="Food Image"
                              class="lazyload"
                              loading="lazy"
                            />
                            {% else %}
                            <img src="{% static 'images/bg3.png' %}" alt="Default Image" />
                            {% endif %}
                          </td>
                          <td>
                            <b>{{cart_item.item.fooditem}}</b>
                          </td>
                          <td>{{cart_item.item.quantity}}</td>
                          <td>₹{{cart_item.total_price}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <ul class="list-unstyled">
                      <li class="d-flex justify-content-between">
                          <span>Subtotal</span>
                          <span class="price">
                              <span class="currency">₹</span>
                              <span id="subtotal">{{subtotal}}</span>
                             

                          </span>
                      </li>
                  
                      {% for key, value in service_charge_dict.items %}
                          {% for i, j in value.items %}
                              <li class="d-flex justify-content-between">
                                  <span>{{key}} </span>
                                  <span class="price">
                                      <span class="currency">₹</span>
                                      <span id="tax-{{key}}">{{j}}</span>
                                  </span>
                              </li>
                          {% endfor %}
                      {% endfor %}
                  
                      <li class="d-flex justify-content-between fw-bold">
                          <span>Total</span>
                          <span class="price">
                              <span class="currency">₹</span>
                              <span id="total">{{grand_total}}</span>
                          </span>
                      </li>
                      {% if order.payment_method == 'Cash' %}
                      <a
                        href="{% url 'order_complete' %}?order_no={{ order.order_number }}&trans_id=RESTAURANTORDER"
                        class="btn btn-success w-100 p-2 mt-3"
                      >
                        Order Completed
                      </a>

                      {% else %}
                      {% if order.payment_method == 'Paypal' %}
                      <div id="paypal-button-container"></div>
                      <div id="loader" style="display:none;">Loading...</div>
                      <div id="error-message" style="color: red;"></div>
                      {% else %}
                      <button id="payNowButton" class ="btn btn-primary w-100 p-2 mt-3" onclick="submitOrder()">Pay Now</button>
                     
                      <div id="loader" style="display: none;">Loading...</div>
                      <div id="error-message" style="color: red;"></div>
                        {% endif %}
                      {% endif %}
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function submitOrder(){

    const grandTotal = "{{ grand_total }}";
    const url = "{% url 'create_order_api' %}";
    const order_number = "{{order.order_number}}";
    const csrftoken = getCookie("csrftoken");
    const customer_name = "{{user.get_full_name}}";
    const customer_id = "{{ user.id }}".padStart(3, '0');
    const customer_email = "{{user.username}}";
    const customer_phone = '9238008672';

    const orderData = {
      customer_details: {
        customer_id:customer_id,
        customer_phone : customer_phone
      },
      order_id : order_number,
      order_amount : grandTotal,
      order_currency:"INR"
    };

    document.getElementById('loader').style.display = 'block';

    fetch (url,{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken' : csrftoken
      },
      body: JSON.stringify(orderData)
    })
    .then(response => {
      return response.json();
  })
    .then(data => {
      document.getElementById('loader').style.display = 'none';
      if (data && data.payment_session_id) {
        cashfree.checkout({
            paymentSessionId: data.payment_session_id,
            redirectTarget: "_self"
        });
      } else {
        alert ('Order creation failed');

      }
    })
    .catch(error => {
      document.getElementById('loader').style.display = 'none';
      console.log('Error:',error);
    })

  }

</script>
{% endblock content %}